* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 4rem;
    font-weight: bold;
    font-family: "Lora", serif;
    color: white;
    background-color: #00000040;
}

div {
    position: relative;
    text-align: center;
    justify-items: center;
}

canvas {
    width: 90vw;
    height: 60vh;
}
